### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
totalplayers = purchase_data["SN"].count()
totalplayers

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
numberUniqueItems = len(purchase_data["Item ID"].unique())

In [5]:
avgPrice = purchase_data["Price"].mean()

In [6]:
purchasesNumber = purchase_data["Item ID"].count()

In [7]:
totalRevenue = purchase_data["Price"].sum()

In [8]:
pd.DataFrame({
    "Number of Unique items":[numberUniqueItems],
    "Average Price":[avgPrice],
    "Number of Purchases": [purchasesNumber],
    "Total Revenue": [totalRevenue]
})

   Number of Unique items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# countMales = purchase_data[purchase_data.Gender == "Male"].count()["Gender"]
# percentageMales = countMales / totalPlayers * 100
# percentageMales

print (100 * purchase_data.groupby(['Gender']).size() / len(purchase_data.index))

Gender
Female                   14.487179
Male                     83.589744
Other / Non-Disclosed     1.923077
dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting



* Display the summary data frame

In [10]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
purchaseCount = purchase_data.groupby("Gender").count()["Purchase ID"]

In [12]:
avgPurchasePrice = purchase_data.groupby("Gender").mean()["Price"]

In [13]:
totalPurchaseValue = purchase_data.groupby("Gender").sum()["Price"]

In [14]:
pd.DataFrame({
    "Purchase Count": purchaseCount,
    "Average Purchase Price": avgPurchasePrice,
    "Total Purchase Value": totalPurchaseValue 
})

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
bins = [0, 10, 15, 20 , 25, 30, 35, 40, 120]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age_groups"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
totalCount = purchase_data.groupby("Age_groups").count()["Purchase ID"]

In [18]:
percentagePlayers = (purchase_data.groupby("Age_groups").count()/780*100)["SN"]

In [19]:
ageDemographicsDataFrame= pd.DataFrame({
    "Total Count": totalCount,
    "Percentage of Players" : percentagePlayers
})

In [20]:
ageDemographicsDataFrame

            Total Count  Percentage of Players
Age_groups
<10                  32               4.102564
10-14                54               6.923077
15-19               200              25.641026
20-24               325              41.666667
25-29                77               9.871795
30-34                52               6.666667
35-39                33               4.230769
40+                   7               0.897436

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [22]:
purchaseCountByAge= purchase_data.groupby("Age_groups").count()["Purchase ID"]
purchaseCountByAge

Age_groups
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: Purchase ID, dtype: int64

In [23]:
avgPurchasePriceByAge = purchase_data.groupby("Age_groups").mean()["Price"]
avgPurchasePriceByAge

Age_groups
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
40+      3.075714
Name: Price, dtype: float64

In [24]:
totalPurchaseValueByAge = purchase_data.groupby("Age_groups").sum()["Price"]
totalPurchaseValueByAge

Age_groups
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
40+       21.53
Name: Price, dtype: float64

In [25]:
pd.DataFrame({
    "Purchase Count" : purchaseCountByAge,
    "Average Purchase Price": avgPurchasePriceByAge,
    "Total Purchase Value" : totalPurchaseValueByAge
})

            Purchase Count  Average Purchase Price  Total Purchase Value
Age_groups
<10                     32                3.405000                108.96
10-14                   54                2.900000                156.60
15-19                  200                3.107800                621.56
20-24                  325                3.020431                981.64
25-29                   77                2.875584                221.42
30-34                   52                2.994423                155.71
35-39                   33                3.404545                112.35
40+                      7                3.075714                 21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
purchaseCountBySN = purchase_data.groupby("SN").count()["Price"]

In [27]:
totalPurchaseValueBySN = purchase_data.groupby("SN").sum()["Price"]
totalPurchaseValueBySN.max()

18.96

In [28]:
avgPurchasePriceBySN = (purchase_data.groupby("SN").sum()["Price"] / purchase_data.groupby("SN").count()["Price"])

In [29]:
tableBySN = pd.DataFrame({
    "Purchase Count" : purchaseCountBySN,
    "Average Purchase Price" : avgPurchasePriceBySN,
    "Total Purchase Value" : totalPurchaseValueBySN
})

In [30]:
tableBySN.sort_values("Total Purchase Value", ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [32]:
mostpopItemsB = purchase_data.loc [:,["Item ID", "Item Name", "Price"]]
mostpopItemsB

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
753      178  Oathbreaker, Last Hope of the Breaking Storm   4.23
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
759       72                                 Winter's Bite   3.77
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
762      110                                    Suspension   1.44
763       85                                Malificent Bag   1.75
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
767       92                                  Final Critic   4.88
768       92                                  Final Critic   4.88
769      145                          Fiery Glass Crusader   4.58
770       12                                         Dawne   1.02
771       25                                     Hero Cane   4.35
772      136                  Ghastly Adamantite Protector   3.58
773       19                 Pursuit, Cudgel of Necromancy   1.02
774      101                                  Final Critic   4.19
775       60                                          Wolf   3.54
776      164                              Exiled Doomblade   1.63
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[780 rows x 3 columns]

In [34]:
itemsCo = purchase_data.groupby("Item Name").count()["SN"]
itemsCo

Item Name
Abyssal Shard                               5
Aetherius, Boon of the Blessed              5
Agatha                                      6
Alpha                                       3
Alpha, Oath of Zeal                         3
Alpha, Reach of Ending Hope                 1
Amnesia                                     6
Apocalyptic Battlescythe                    6
Arcane Gem                                  3
Avenger                                     6
Azurewrath                                  6
Betrayal, Whisper of Grieving Widows        5
Betrayer                                    1
Blade of the Grave                          4
Blazefury, Protector of Delusions           3
Blazeguard, Reach of Eternity               5
Blindscythe                                 5
Blood Infused Guardian                      6
Blood-Forged Skeletal Spine                 6
Bloodlord's Fetish                          5
Bone Crushing Silver Skewer                 4
Bonecarvin Battle Axe                       5
Brimstone                                   5
Brutality Ivory Warmace                     8
Celeste                                     1
Celeste, Incarnation of the Corrupted       4
Chaos, Ender of the End                     5
Conqueror Adamantite Mace                   5
Crucifer                                    4
Crying Steel Sickle                         3
                                           ..
Thorn, Conqueror of the Corrupted           4
Thorn, Satchel of Dark Souls                7
Thunderfury Scimitar                        5
Toothpick                                   3
Torchlight, Bond of Storms                  2
Tranquility, Razor of Black Magic           5
Trickster                                   2
Twilight's Carver                           4
Undead Crusader                             1
Unending Tyranny                            3
Unholy Wand                                 2
Vengeance Cleaver                           7
Venom Claymore                              4
Verdict                                     6
Victor Iron Spikes                          4
Vindictive Glass Edge                       3
War-Forged Gold Deflector                   5
Warmonger, Gift of Suffering's End          3
Warped Diamond Crusader                     3
Warped Fetish                               5
Warped Iron Scimitar                        5
Whistling Mithril Warblade                  2
Winter's Bite                               8
Winterthorn, Defender of Shifting Worlds    2
Woeful Adamantite Claymore                  3
Wolf                                        8
Wolf, Promise of the Moonwalker             6
Worldbreaker                                4
Yearning Crusher                            3
Yearning Mageblade                          5
Name: SN, Length: 179, dtype: int64

In [36]:
itemsSumaPrices = purchase_data.groupby("Item Name").sum()["Price"]
itemsSumaPrices

Item Name
Abyssal Shard                               13.35
Aetherius, Boon of the Blessed              16.95
Agatha                                      18.48
Alpha                                        6.21
Alpha, Oath of Zeal                         12.15
Alpha, Reach of Ending Hope                  3.58
Amnesia                                     13.08
Apocalyptic Battlescythe                    11.82
Arcane Gem                                  11.37
Avenger                                     20.64
Azurewrath                                  26.40
Betrayal, Whisper of Grieving Widows        19.70
Betrayer                                     2.94
Blade of the Grave                          12.56
Blazefury, Protector of Delusions           13.92
Blazeguard, Reach of Eternity               24.55
Blindscythe                                 16.35
Blood Infused Guardian                      11.64
Blood-Forged Skeletal Spine                 18.54
Bloodlord's Fetish                           8.50
Bone Crushing Silver Skewer                 19.44
Bonecarvin Battle Axe                       11.90
Brimstone                                   18.25
Brutality Ivory Warmace                     19.36
Celeste                                      4.17
Celeste, Incarnation of the Corrupted       13.84
Chaos, Ender of the End                      9.90
Conqueror Adamantite Mace                   21.20
Crucifer                                    11.77
Crying Steel Sickle                         10.23
                                            ...
Thorn, Conqueror of the Corrupted           10.92
Thorn, Satchel of Dark Souls                 9.31
Thunderfury Scimitar                        17.25
Toothpick                                   12.09
Torchlight, Bond of Storms                   9.30
Tranquility, Razor of Black Magic            8.75
Trickster                                    3.10
Twilight's Carver                            9.12
Undead Crusader                              4.50
Unending Tyranny                             8.55
Unholy Wand                                  2.24
Vengeance Cleaver                           14.35
Venom Claymore                               5.16
Verdict                                     14.88
Victor Iron Spikes                          17.60
Vindictive Glass Edge                        6.81
War-Forged Gold Deflector                    5.05
Warmonger, Gift of Suffering's End          12.09
Warped Diamond Crusader                      4.20
Warped Fetish                               19.05
Warped Iron Scimitar                        15.50
Whistling Mithril Warblade                   2.00
Winter's Bite                               30.16
Winterthorn, Defender of Shifting Worlds     4.16
Woeful Adamantite Claymore                  13.44
Wolf                                        28.32
Wolf, Promise of the Moonwalker             26.88
Worldbreaker                                10.40
Yearning Crusher                            12.54
Yearning Mageblade                          19.10
Name: Price, Length: 179, dtype: float64

In [41]:
mostpopItems = pd.DataFrame({
    "Purchase Count":itemsCo,
    "Tota Purchase Value": itemsSumaPrices
})
mostpopItems

                                          Purchase Count  Tota Purchase Value
Item Name
Abyssal Shard                                          5                13.35
Aetherius, Boon of the Blessed                         5                16.95
Agatha                                                 6                18.48
Alpha                                                  3                 6.21
Alpha, Oath of Zeal                                    3                12.15
Alpha, Reach of Ending Hope                            1                 3.58
Amnesia                                                6                13.08
Apocalyptic Battlescythe                               6                11.82
Arcane Gem                                             3                11.37
Avenger                                                6                20.64
Azurewrath                                             6                26.40
Betrayal, Whisper of Grieving Widows                   5                19.70
Betrayer                                               1                 2.94
Blade of the Grave                                     4                12.56
Blazefury, Protector of Delusions                      3                13.92
Blazeguard, Reach of Eternity                          5                24.55
Blindscythe                                            5                16.35
Blood Infused Guardian                                 6                11.64
Blood-Forged Skeletal Spine                            6                18.54
Bloodlord's Fetish                                     5                 8.50
Bone Crushing Silver Skewer                            4                19.44
Bonecarvin Battle Axe                                  5                11.90
Brimstone                                              5                18.25
Brutality Ivory Warmace                                8                19.36
Celeste                                                1                 4.17
Celeste, Incarnation of the Corrupted                  4                13.84
Chaos, Ender of the End                                5                 9.90
Conqueror Adamantite Mace                              5                21.20
Crucifer                                               4                11.77
Crying Steel Sickle                                    3                10.23
...                                                  ...                  ...
Thorn, Conqueror of the Corrupted                      4                10.92
Thorn, Satchel of Dark Souls                           7                 9.31
Thunderfury Scimitar                                   5                17.25
Toothpick                                              3                12.09
Torchlight, Bond of Storms                             2                 9.30
Tranquility, Razor of Black Magic                      5                 8.75
Trickster                                              2                 3.10
Twilight's Carver                                      4                 9.12
Undead Crusader                                        1                 4.50
Unending Tyranny                                       3                 8.55
Unholy Wand                                            2                 2.24
Vengeance Cleaver                                      7                14.35
Venom Claymore                                         4                 5.16
Verdict                                                6                14.88
Victor Iron Spikes                                     4                17.60
Vindictive Glass Edge                                  3                 6.81
War-Forged Gold Deflector                              5                 5.05
Warmonger, Gift of Suffering's End                     3                12.09
Warped Diamond Crusader                                3                 4.20
Warped Fetish                                          5                19.05
Warped Iron Scimitar                                   5                15.50
Whistling Mithril Warblade                             2                 2.00
Winter's Bite                                          8                30.16
Winterthorn, Defender of Shifting Worlds               2                 4.16
Woeful Adamantite Claymore                             3                13.44
Wolf                                                   8                28.32
Wolf, Promise of the Moonwalker                        6                26.88
Worldbreaker                                           4                10.40
Yearning Crusher                                       3                12.54
Yearning Mageblade                                     5                19.10

[179 rows x 2 columns]

In [46]:
rd = mostpopItems.merge(mostpopItemsB, on="Item Name", how = "right") 
itemsNames = rd["Item Name"].unique().tolist()

rd.drop_duplicates(subset=None, keep="first", inplace=False).sort_values("Purchase Count" , ascending = False).head(4)

,Item Name,Purchase Count,Tota Purchase Value,Item ID,Price
253,Final Critic,13,59.99,92,4.88
254,Final Critic,13,59.99,101,4.19
421,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,178,4.23
460,Persuasion,9,28.99,132,3.33

In [48]:
rd.drop_duplicates(subset=None, keep="first", inplace=False).sort_values("Tota Purchase Value", ascending = False).head(4)

,Item Name,Purchase Count,Tota Purchase Value,Item ID,Price
253,Final Critic,13,59.99,92,4.88
254,Final Critic,13,59.99,101,4.19
421,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,178,4.23
412,Nirvana,9,44.10,82,4.90

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame